# See https://docs.aspect.build/workflows/configuration
workspaces:
  - .:
      tasks:
        - workspace:
            without: true
  - e2e/smoke
  - examples:
      tasks:
        - workspace:
            without: true
        # TODO(alexeagle): fix
        - bazel-9:
            without: true
bazel:
  flags:
    - --config=ci
tasks:
  - test:
      name: "Test (WORKSPACE)"
      id: workspace
      env:
        USE_BAZEL_VERSION: 7.x
      bazel:
        flags:
          - --noenable_bzlmod
  - test:
      name: "Test (Bazel 7.x)"
      id: bazel-7
      env:
        USE_BAZEL_VERSION: 7.x
  - test:
      name: "Test (Bazel 8.x)"
      id: bazel-8
      env:
        USE_BAZEL_VERSION: 8.x
  - test:
      name: Test (Bazel 9.x)
      id: bazel-9
      env:
        USE_BAZEL_VERSION: rolling
notifications:
  github: {}
